<%= form_for([@message,@message.comments.build]) do |form| %>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>
  <br>
  <div>
    <%= form.button :submit, :class => "btn-custom" %>
  </div>
  <br>

<% end %>
