<h1>Edit Comment</h1>

<%= form_for([@message,@comment]) do |form| %>

  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>